@import '../style/theme';

.logo {
  width: 120px;
  height: 70px;
  background-image: url("./logo.png");
  background-size:cover;
  margin: 16px 28px 16px 0;
  float: left;
}

.background {
  background-image: linear-gradient($layout-body-background, $layout-header-background);
  background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menuWrapper {
    display: flex;
    justify-content: center;
  }

  .logo {
    margin-right: 0;
    float: none;
  }

  .menu {
    display: none;
  }
}
/*
/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/
