<!DOCTYPE html5>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>La Bécasse</title>
  </head>
  <body>

    <!-- App mount point -->
    <div id="app"></div>

    <script type="application/javascript">
      window.env = {
        WHATEVER: '$MY_APP_WHATEVER',
        API: '$MY_APP_API',
      };
    </script>

  </body>
</html>
