<!DOCTYPE html5>
<html>
  <head>
    <title>La Bécasse</title>
  </head>
  <body>

    <!-- App mount point -->
    <div id="app"></div>

    <script type="application/javascript">
      window.env = {
        WHATEVER: '$MY_APP_WHATEVER',
      };
    </script>

  </body>
</html>
